---
import Default from "../layouts/default.astro";
import Socials from "../components/Socials.astro";
import Tech from "../components/Tech.astro";
import Projects from "../components/Projects.astro";
---

<Default>
  <div class="p-6 lg:p-12 motion-opacity-in-0 motion-duration-[3s]">
    <div class="flex flex-col lg:flex-row justify-between">
      <h1 class="font-bold text-5xl my-auto">
        <span class="text-green-200">Hi!</span> I'm Sven 👋
      </h1>
      <div class="my-auto">
        <div
          class="lg:space-x-2 flex mt-5 lg:mt-0 flex-col lg:flex-row lg:gap-0"
        >
          <Socials />
        </div>
      </div>
    </div>
    <div class="gap-4 grid my-12">
      <p class="text-pretty text-lg text-neutral-400">
        I'm a full-stack developer working on websites for the most part. I'm
        currently working full-time managing the websites for the biggest audio
        brands (JBL, Harman/Kardon).<br /><br />I'm very passionate about new
        technologies and discovering new stuff. I also love OSS (legit who
        doesn't).
      </p>
    </div>
    <div class="gap-4 grid">
      <h2 class="text-3xl font-bold">Tech</h2>
      <hr class="border-neutral-800" />
      <Tech />
    </div>
    <div class="gap-4 grid mt-12">
      <h2 class="text-3xl font-bold">Featured Projects</h2>
      <hr class="border-neutral-800" />
      <Projects />
    </div>
  </div>
</Default>
