---
import { Icon } from "astro-icon/components";
import ProjectsCard from "../components/ProjectsCard.astro";
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <ProjectsCard title="neddo.dev" desc="My VERY basic personal little website. Don't expect the most advanced code or whatever. Threw it together rather quick." link="https://github.com/Neddoo/neddo.dev" />
</div>
