---
import Discord from "../components/Discord.astro";
import { Icon } from "astro-icon/components";
---

<div class="flex space-x-2">
  <a
    href="https://github.com/Neddoo"
    class="group p-2 border-2 my-auto border-neutral-800 rounded-[.75em] hover:border-neutral-700 hover:bg-neutral-800 duration-200"
    target="_blank"
    ><Icon
      class="w-8 h-8 text-neutral-400 group-hover:text-white duration-200"
      name="simple-icons:github"
    /></a
  >
  <a
    href="https://bsky.app/profile/neddo.dev"
    class="group p-2 border-2 my-auto border-neutral-800 rounded-[.75em] hover:border-neutral-700 hover:bg-neutral-800 duration-200"
    target="_blank"
    ><Icon
      class="w-8 h-8 text-neutral-400 group-hover:text-white duration-200"
      name="simple-icons:bluesky"
    /></a>
</div>
<Discord />
