---
import { Icon } from "astro-icon/components";
---

<div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:typescript"
    />
    <p class="my-auto ml-3 font-bold">TypeScript</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:javascript"
    />
    <p class="my-auto ml-3 font-bold">JavaScript</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:nodedotjs"
    />
    <p class="my-auto ml-3 font-bold">NodeJS</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:php"
    />
    <p class="my-auto ml-3 font-bold">PHP</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:go"
    />
    <p class="my-auto ml-3 font-bold">Go</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:astro"
    />
    <p class="my-auto ml-3 font-bold">Astro</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:react"
    />
    <p class="my-auto ml-3 font-bold">React</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:sass"
    />
    <p class="my-auto ml-3 font-bold">SASS</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:less"
    />
    <p class="my-auto ml-3 font-bold">Less</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:docker"
    />
    <p class="my-auto ml-3 font-bold">Docker</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:postgresql"
    />
    <p class="my-auto ml-3 font-bold">PostgreSQL</p>
  </div>
  <div class="bg-neutral-900 rounded-md p-3 text-neutral-400 flex">
    <Icon
      class="w-8 h-8"
      name="simple-icons:sqlite"
    />
    <p class="my-auto ml-3 font-bold">SQLite</p>
  </div>
</div>
