---
import { Icon } from "astro-icon/components";
import TechCard from "../components/TechCard.astro";
---

<div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
  <TechCard title="TypeScript" icon="simple-icons:typescript"/>
  <TechCard title="JavaScript" icon="simple-icons:javascript"/>
  <TechCard title="NodeJS" icon="simple-icons:nodedotjs"/>
  <TechCard title="PHP" icon="simple-icons:php"/>
  <TechCard title="Go" icon="simple-icons:go"/>
  <TechCard title="Astro" icon="simple-icons:astro"/>
  <TechCard title="React" icon="simple-icons:react"/>
  <TechCard title="SASS" icon="simple-icons:sass"/>
  <TechCard title="Less" icon="simple-icons:less"/>
  <TechCard title="Docker" icon="simple-icons:docker"/>
  <TechCard title="PostgreSQL" icon="simple-icons:postgresql"/>
  <TechCard title="SQLite" icon="simple-icons:sqlite"/>
</div>
